<div class="border-1 text-black shadow-xl bg-gray-100 p-10 gap-2 md:w-2/3 mx-auto rounded-lg">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="gap-10 flex flex-col">
    <div>
      <label for="email" class="mr-10">Email:</label>
      <input id="email" formControlName="email" type="email" class="text-xl rounded-md border-2">
    </div>
    <div>
      <label for="password" class="mr-5">Password:</label>
      <input id="password" formControlName="password" type="password" class="text-xl rounded-md border-2">
    </div>
    <button type="submit" class="text-white  bg-gradient-to-br from-green-800 to-gray-800 rounded-lg shadow-xl py-3">Login</button>
  </form>
</div>
