<div class="left-side text-white flex-1">
  <div class="flex flex-col items-center p-10">
    <h1 class="text-4xl font-bold shadow-xl p-10 bg-gradient-to-br from-gray-800 to-orange-500 rounded-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105">Cloud Kitchen</h1>
    <p class="mt-10">
      Cloud Kitchen revolutionizes dining with virtual restaurants operating solely through online orders, offering diverse cuisines without traditional dining spaces.
    </p>
    <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/41055170/340135335-d209a8e9-3544-4385-841c-096e88bcd071.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240616%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240616T211002Z&X-Amz-Expires=300&X-Amz-Signature=12059b30b8d90dc55212ca0de775744616b0039e0ae2139aacb6b42eb22d5ae0&X-Amz-SignedHeaders=host&actor_id=41055170&key_id=0&repo_id=667527579" alt="landing-page-image" class="w-96 h-96 mt-10 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105">
  </div>
</div>
