<div class="bg-gray-800 h-full fixed top-0 left-0 overflow-y-auto flex flex-col w-64">
  <div class="flex items-center justify-center mt-8">
    <img src="https://github-production-user-asset-6210df.s3.amazonaws.com/41055170/340135335-d209a8e9-3544-4385-841c-096e88bcd071.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240616%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240616T211002Z&X-Amz-Expires=300&X-Amz-Signature=12059b30b8d90dc55212ca0de775744616b0039e0ae2139aacb6b42eb22d5ae0&X-Amz-SignedHeaders=host&actor_id=41055170&key_id=0&repo_id=667527579" alt="landing-page-image" class="w-30 h-30 rounded transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105">

  </div>
  
  <ul class="mt-6" >
    <li *ngIf="getUserRole() === 'chef'">
      <a href="dashboard" class="px-4 py-2 hover:bg-gray-700 cursor-pointer text-white block">
        Dashboard
      </a>
    </li>
    <!-- <li>
      <a href="Profile" class="px-4 py-2 hover:bg-gray-700 cursor-pointer text-white block">
        My Profile
      </a>
    </li> -->

    <li *ngIf="getUserRole() === 'chef'">
      <a [routerLink]="['/users/dishes', userId]" class="px-4 py-2 hover:bg-gray-700 cursor-pointer text-white block">
        My Dishes
      </a>
    </li>
  </ul>

  <ul class="mt-auto"> <!-- This uses "mt-auto" to push it to the bottom -->
    <li>
      <a href="/logout" class="px-4 py-2 hover:bg-gray-700 cursor-pointer text-center text-white block bg-gradient-to-b text-lg from-red-500 to-red-800 hover:shadow-md">
        Logout
      </a>
    </li>
  </ul>
</div>
