<div class="flex flex-row bg-gradient-to-br from-gray-800 to-green-800 justify-center h-screen items-center text-white flex-wrap">
  <app-left-side class="flex-1"></app-left-side>
  <div class=" flex-1 flex flex-col items-center justify-center h-screen bg-gradient-to-r from-green-800 to-gray-800 text-white">
    <form [formGroup]="accountForm" (ngSubmit)="createUser()" class="w-full max-w-lg bg-white text-black py-5 px-10 rounded-lg shadow-lg">
      <!-- Email Input -->
      <div class="w-full px-3 mb-3">
        <label for="email" class="block uppercase tracking-wide text-xs font-bold mb-2">Email</label>
        <input formControlName="email" type="email" placeholder="Email" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
      </div>
      <!-- Password Input -->
      <div class="w-full px-3 mb-3">
        <label for="password" class="block uppercase tracking-wide text-xs font-bold mb-2">Password</label>
        <input formControlName="password" type="password" placeholder="Password" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
      </div>

      <div class="w-full px-3 mb-3">
        <label for="confirmPassword" class="block uppercase tracking-wide text-xs font-bold mb-2">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
        <div *ngIf="accountForm.errors?.['passwordMismatch'] && accountForm.touched" class="text-red-500 text-xs italic">
          Passwords must match.
        </div>
      </div>

      <!-- Full Name Input -->
      <div class="w-full px-3 mb-3">
        <label for="full-name" class="block uppercase tracking-wide text-xs font-bold mb-2">Full Name</label>
        <input formControlName="full_name" type="text" placeholder="Full Name" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
      </div>
      <div class="w-full px-3 mb-3">
        <label for="phone-number" class="block uppercase tracking-wide text-xs font-bold mb-2">Phone Number</label>
        <input formControlName="phone_number" type="text" placeholder="Phone Number" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
      </div>
      
      <!-- Location Input -->
      <div class="w-full px-3 mb-3">
        <label for="location" class="block uppercase tracking-wide text-xs font-bold mb-2">Location</label>
        <input formControlName="location" type="text" placeholder="Location" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white">
      </div>
      
      <!-- Type Select -->
      <div class="w-full px-3 mb-3">
        <label for="type" class="block uppercase tracking-wide text-xs font-bold mb-2">Type</label>
        <select formControlName="type" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
          <option value="chef">Chef</option>
          <option value="customer">Customer</option>
        </select>
      </div>
      <!-- Submit Button -->
      <div class="w-full px-3 text-center">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded bg-gradient-to-br from-green-800 to-gray-800 rounded-lg shadow-xl">Create Account</button>
      </div>
      <div class="w-full px-3 text-center mt-10">
        <a href="/login" type="submit" class=" mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded bg-gradient-to-br from-green-800 to-gray-800 rounded-lg shadow-xl">Login</a>
      </div>
    </form>
  </div>
</div>