<div class="flex flex-row bg-gradient-to-br from-gray-200 to-green-400 min-h-screen">
  <div class="w-1/5">
    <app-sidebar></app-sidebar>
  </div>
  <div class="w-5/6">
    <div class="text-4xl font-bold hover:text-underline">Dishes</div>
    <div class="grid grid-cols-4 gap-4 mt-4 mr-5 mb-10">
      <div *ngFor="let dish of dishes" class="bg-white p-4 rounded-lg shadow-md cursor-pointer transition duration-500 ease-linear transform hover:-translate-y-1 hover:scale-105 hover:text-underline" (click)="navigateToDish(dish.id)">
        <h3>{{ dish.dish_name }}</h3>
        <p>Type: {{ dish.dish_type }}</p>
        <p>Description: {{ dish.description }}</p>
        <p>Created At: {{ dish.created_at | date }}</p>
      </div>
    </div>
  </div>
</div>
